# Environment
.env
.env.*
!.env.example

# Dependencies (Jangan mengabaikan composer.lock!)
/vendor
/node_modules

# Laravel specific
/public/storage
/public/build
/public/hot

# Storage & Logs
storage/*.key
storage/logs/*
!storage/logs/.gitkeep
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
!storage/framework/.gitkeep

# Testing & Caches
.phpunit.result.cache
*.sqlite

# IDE & OS
.idea/
.vscode/
.DS_Store
Thumbs.db
*.swp
*.swo
*~